.align-left {text-align:left}
.align-center {text-align:center}
.align-right {text-align:right}

/* puebas */
.grid {display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex}
.column {position:relative;
	-moz-box-sizing:border-box; -ms-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}


/* **************************
/* SECTIONS
/* **************************/
.color-box {background-color:#F36639; color:white;}
.color-box a {color:white;}


/* **************************
/* COLUMNS
/* **************************/
.span-6 {width:100%}
.span-4 {width:65.5%}
.span-3 {width:50%}
.span-2 {width:31%}
.span-2.column-1, .span-2.column-3, 
.span-4 + .span-2.column-2 {width:34.5%}

.panel {margin:15px 0}
/* espaciado horizontal */
.panel {padding:0 8%}
.span-4 .panel {padding:0 4.5%}
.span-4.column-1 .panel {padding-left:12.5%}
.span-4.column-2 .panel {padding-right:12.5%}
.span-3.column-1 .panel {padding:0 5% 0 16.5%}
.span-3.column-2 .panel {padding:0 16.5% 0 5%}
.span-2 .panel {padding:0 10%}
.span-2.column-1 .panel {padding:0 4% 0 24%}
.span-2.column-3 .panel,
.span-4 + .span-2.column-2 .panel {padding:0 24% 0 4%}


/* **************************
/* WIDGETS
/* **************************/
/* widgets al 100% (sin padding ni margin) */
.positive-panels-slider, .positive-panels-video {padding:0!important; margin:0!important;}

/* widget image */
.grid img {max-width:100%;}
.positive-panels-css-image {min-height:315px; background-size:cover;}
.positive-panels-css-image:only-child {position:absolute; height:100%; width:100%; min-height:0; }

/* widget video */
.positive-panels-video .video-poster {position:relative; overflow:hidden;}
.positive-panels-video .video-poster img {position:absolute; top:0; min-width:100%; min-height:100%; width: auto; height: auto}
/*.positive-panels-video .video-poster > div {opacity:0;}*/
/*.positive-panels-video .video-poster > span {position:absolute; top:50%; left:50%; z-index:2000; background-color:orange; width:30px; height:30px; margin:-15px 0 0 -15px; cursor:pointer;}*/

/* widget slider */
.cycle-slideshow,
.cycle-slideshow > div,
.cycle-slideshow > div:after {height:500px;}

.cycle-slideshow > div {width:100%; position:relative; overflow:hidden;}
.cycle-slideshow > div:not(:first-child) {display:none;}
.cycle-slideshow > div > img {min-width:100%; min-height:100%; position:absolute; top:0; left:0; z-index:1; }
.cycle-slideshow > div > div,
.cycle-slideshow > div:after {display:inline-block; vertical-align:middle;}
.cycle-slideshow > div:after {content:''}
.cycle-slideshow > div > div {display:inline-block; vertical-align:middle; position:relative; z-index:2; width:83%;}